/*
Eleanor StyleSheet
*/

body{
    background-color:aliceblue;
    font-family:cursive;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.backimage{
    border:solid black;
    height:200px;
    border-radius: 30px;
    padding: 20px;
    background-image: url('images/4.jpg');
    position: relative;
    margin:auto;
}

.pizzaimage{
    width:120px;
    height:180px;
    position:absolute;
    bottom:0px;
    background-image: url('images/pepsi1.jpeg');
    animation-name: slidepizza;
    animation-duration: 5s;
    animation-iteration-count:infinite;
    animation-delay:1s;
    animation-fill-mode:forwards;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}

@keyframes slidepizza{
    from {transform: translateX(0px); opacity: 1;}
    to{transform: translateX(800px); opacity: 0;}
    
      }

.menu{
    background-color: black;
    height:110px;

}

.menu li {
  display: inline;
  width:150px;
  float:left;
  }
  
  
  .menu li a {
  text-decoration: none;
  color:white;
  display: inline-block;
  padding: 55px 55px;
  list-style-type: none;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  
  }
  
  
  .menu li a:hover {
    background-color: orange;
    height: 110px;
    display: block;
    
  }

.orderpizza{

     border: solid black;
     height:200px;
     width:250px;
     border-radius: 30px;
     background-image: url('images/pizza2.jpeg');

}

.orderdrink{

    border: solid black;
    height:200px;
    width:250px;
    border-radius: 30px;
    background-image: url('images/pepsi1.jpeg');

}

  .pizzabutton{
    text-align:center;
    background-color: orange;
    padding:10px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 20px;
    
  }

  .drinkbutton{
    text-align:center;
    background-color: orange;
    padding:10px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 20px;
    
  }

  .modalwindow{
    position:fixed;
    top:0px;
    bottom: 0px;
    left:0px;
    right: 0px;
    background-color:grey;
    opacity: 0;
    pointer-events:none;
  }

  .modalwindow:target{
    opacity: 1;
    pointer-events: auto;
    transition: ease-in 1s;
  }

  .msgtext{
    position:relative;
    width:500px;
    height:500px;
    border-radius: 10px;
    margin: auto;
    margin-top: 200px;
    background: linear-gradient(to top right, #00d9ff, rgb(185, 178, 178));
  }
  .msgtext h3{
    padding: 20px;
    background-color: black;
    color:white;
  }
  .msgtext p{
    padding: 20px;
    text-align: justify;
    background-color: white;
  
  }
  .msgtext img{
    width:50px;
    height:60px;
    margin-left:50px ;
  }
  .modalclose{
    color:black;
    padding: 12px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
  }